<form action="/shop/add-to-cart" method="post">
    <button type="submit"  class="btn btn-primary add-to-cart" style="float:left;
    margin-left: 47px"><i class="fa fa-shopping-cart"></i>Add to cart</button>
    <input type="hidden" name="add_to_cart_id" value="<%=product.id%>"/>
  </form>
 