<%- include('../includes/shop-home.ejs') %>
<hr>


<div class="cart">
   
<%if(cartproducts.length > 0){%>
<%cartproducts.forEach(p=>{%>

<h5 style="padding: 18px;text-align: center;background: #ececec;">Product:<%=p.title%> Quantity:<%=p.cartItem.quantity%></h5>

<%})%>
<div class="text-center " style="margin: 0 auto;width: 86px;background:#ff4d4d;border-radius: 6px;">
    <form action="/shop/checkout" method="post">
    <button type="submit" style="text-align: center;" class="btn" href="">checkout</button>
</form>
</div>
    <%} else {%>
        
    <h1>no products in cart</h1>
        <%}%>

    </div>

<%- include('../includes/shop-end.ejs') %>