img.content-image {
    height: 180px;
}
.cart h5 {
    padding: 18px;
    text-align: center;
    background: #ececec;
}
.product-image-wrapper {
    border: 1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
}
.single-products {
    position: relative;
}
.productinfo {
    position: relative;
}

.productinfo h2 {
    color: #FE980F;
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.productinfo p {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
}
.add-to-cart {
    background: #F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}
.detail-page{
    margin: 10% 27%;
}

.cart h5 {
    padding: 18px;
    text-align: center;
    background: #ececec;
}